div(class="filter-container")
  div(class="flex-area")
    div(class="loc-content")
      div(class="loc-header") Tìm theo tỉnh/thành
      div(class="loc-list")
    div(class="money-content")
      div(class="money-header") Số tiền
      div(class="money-form")
    div(class="time-content") Thời gian
      div(class="deposit-area")
        div(class="depo-header") Gửi tiền
        div(class="depo-content")
      div(class="withdraw-area")
        div(class="withdraw-header") Rút lãi
        div(class="withdraw-content")
    div(class="btns-content")
      div(class="reset-btn") Hủy lọc
      div(class="search-btn") Tìm kiếm